<div class="expandable-list-wrapper">
  <div class="expandable-list-header">
    <button (click)="toggle()">
      {{expanded ? '-' : '+'}}
    </button>
    <ng-content></ng-content>
  </div>
  <div class="expandable-list-content" *ngIf="expanded">
    <div class="loading" *ngIf="status === 'loading'">
      Loading data...
    </div>
    <div class="expandable-list">
      <div class="expandable-list-item" *ngFor="let item of data$ | async">
        {{item.fullName}}
      </div>
    </div>
  </div>
</div>
