<div class="expandable-list-wrapper">
  <div class="expandable-list-header">
    <div class="title">
      <ng-content></ng-content>
    </div>
    <button (click)="toggle()">
      {{expanded ? '-' : '+'}}
    </button>
  </div>
  <div class="expandable-list-content" *ngIf="expanded">
    <div class="loading" *ngIf="status === 'loading'">
      Loading data...
    </div>
    <div class="expandable-list">
      <app-expandable-list-item *ngFor="let item of data$ | async" [item]="item"></app-expandable-list-item>
    </div>
  </div>
</div>
